<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ClientTest</title>
	<style>
		
		#DIV_gameContainer {
		  position: relative;
		  width: 1000px;
		  height: 600px;
		  margin: auto;
		  background: radial-gradient(#0a7d32, #064d1f);
		  border-radius: 12px;
		  overflow: hidden;
		  border: solid #053b18 10px;
		}

		body {
			background: radial-gradient(#323232, #161616);
			/*background: linear-gradient(0deg,rgba(99, 99, 99, 1) 0%, rgba(38, 38, 38, 1) 100%);*/
		}



	</style>
	 <script src="client.js" defer></script> 
</head>
<body>

<div id='DIV_gameContainer'>



</div>


</body>
</html>