<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ClientTest</title>
	<style>
		
		#DIV_gameContainer {
		  position: relative;
		  width: 1000px;
		  height: 600px;
		  margin: auto;
		  background: radial-gradient(#0a7d32, #064d1f);
		  border-radius: 12px;
		  overflow: hidden;
		  border: solid #053b18 10px;
		}

		body {
			background: radial-gradient(#323232, #161616);
		}

		.OBJ_card {
		  width: 100px;
		  height: 140px;
		  transition: transform 0.2s ease;
		  transform-origin: center center;
		}

		.OBJ_card:hover {
		  transform: scale(1.2);
		}



	</style>
	 <script src="client.js" type="module" defer></script> 
</head>
<body>

<div id='DIV_gameContainer'>



</div>


</body>
</html>