<!DOCTYPE html>

<html>
    <body>
        <button id="test">Test Frontend!!</button>
		<button id="test2">Test create room!!!!</button>
		<button id="test3">Test search room!!!!</button>
		<button id="test4">Test join room!!!!</button> 
		<button id="test5">Test draw card!!!!</button>
		<button id="test6">Test play card!!!!</button>
		Please enter the card code here: 
		<input type="text" id="card">
		<button id="test7">Test game update</button>
        <p id="output">Output text should be shown here</p>
		<p id="output2">Response for creating a room should be shown here!!!</p> 
		<p id="output3">Response for browsing a room should be shown here!!!</p> 
		<p id="output4">Response for joining a room should be shown here!!!</p>
		<p id="output5">Response for drawing a card should be shown here!!!</p>
		<p id="output6">Response for playing a card should be shown here!!!</p>
		<p id="output7">Response for game update should be shown here!!!</p>
    
        <script>
            const button = document.getElementById("test"); 
	    	const button2 = document.getElementById("test2"); 
	    	const button3 = document.getElementById("test3"); 
	    	const button4 = document.getElementById("test4");
			const button5 = document.getElementById("test5"); 
			const button6 = document.getElementById("test6");
			const button7 = document.getElementById("test7"); 
			const card_field = document.getElementById("card");
            const output = document.getElementById("output");
	    	const output2 = document.getElementById("output2");
	    	const output3 = document.getElementById("output3"); 
	    	const output4 = document.getElementById("output4"); 
			const output5 = document.getElementById("output5");
			const output6 = document.getElementById("output6");
			const output7 = document.getElementById("output7"); 
	    	let testroomid = ""; 

			button2.addEventListener('click', async() => {
				const postdata = new FormData();
				postdata.append("game_type", "war");
				postdata.append("num_players", "5");
				const response = await fetch("/create_room", {
					method: "POST", 
					body: postdata, 
				});  
				const data = await response.text();
				output2.innerText = `Message: ${data}`;
			})

			button3.addEventListener('click', async() => {
				const response = await fetch("/search_rooms");
				let data = await response.json(); 
				let newdata = JSON.stringify(data, null, 2); 
				output3.innerText = `Message: ${newdata}`;
				const keys = Object.keys(data); 
				testroomid = keys[0];
				console.log(testroomid); 
			})
			
			button4.addEventListener('click', async() => {
				const postdata = new FormData(); 
				postdata.append("room_id", testroomid); 
				const response = await fetch("/join_room", {
					method: "POST", 
					body: postdata, 
				});
				const data = await response.text(); 
				output4.innerText = `Message: ${data}`;
			})

			button5.addEventListener('click', async() =>{
				const response = await fetch("/draw_card");
				const data = await response.text();
				output5.innerText = `Message: ${data}`;
			})

			button6.addEventListener('click', async() => {
				const postdata = new FormData(); 
				const card_code = card_field.value;
				postdata.append("card_code", card_code); 
				const response = await fetch("/play_card", {
					method: "POST", 
					body: postdata, 
				})
				const data = await response.text(); 
				output6.innerText = `Message: ${data}`;
			})

			button7.addEventListener('click', async() => {
				const response = await fetch("/update");
				const data = await response.text(); 
				output7.innerText = `Message: ${data}`;
			})
	</script>

</body>


</html>