<!-- 
gamebase.html is the 'base class' for all html files for games (war.html, blackjack.html, etc)

game html files use {% extends 'gamebase.html' %} to 'inherit' from this file

gamebase automatically sets up:
 * a link to the game style sheet
 * gameboard div
 * a title (room code + game name)

provides a block called custom_content, which each game file overrides to add custom elements (hands, decks, etc)

-->

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>GameBase</title>
	<link rel="stylesheet" href="..\static\css\gamestyles.css">
</head>
<body>



<div id='DIV_gameContainer'>

	<h1>GAME NAME | ROOM CODE</h1>
		
	<div id='DIV_gameBoard'>

		{% block custom_content %}

		{% endblock %}

	</div>

</div>

</body>
</html>